<div id="description" class="row">
    <h1>Join The Studio236 Tester&apos;s Union</h1>
    <p>Get early access to alpha content, give feedback and help shape our games and apps.<br/>
        Sign up below, and we will email you when new content comes available.</p>
</div>

<div id="console" class="row">
</div>

<div id="form" class="row">
    <div class="span4 well well-large">
    <form id="join" action="signup/create" method="post">
        <fieldset>
            <strong class="help-block">Join Today.</strong>
            <input name="lead[name]" type="text" class="span4" placeholder="Full Name" required>
            <input name="lead[email]" type="email" class="span4" placeholder="Email" required>
            <input name="lead[age]" class="span1" type="text" placeholder="Age">
            <div class="span4 row">

                <label class="radio span1">
                    <input type="radio" name="lead[sex]" id="sex1" value="Male" checked>
                    Male
                </label>
                <label class="radio span1">
                    <input type="radio" name="lead[sex]" id="sex2" value="Female">
                    Female
                </label>
                <label class="radio span1">
                    <input type="radio" name="lead[sex]" id="sex3" value="Other">
                    Other/Undisclosed Gender
                </label>

            </div>
            <hr/>
            <span class="help-block">After registering, We will send updates to your inbox, including special tokens to access early content. Check your spam folder if you don't see a confirmation email from us.</span>
            <small class="help-block">By signing up, you agree to our <a href="terms-of-service.html">Terms of Service</a>, <a href="non-disclosure.html">Non-Disclosure Agreement</a> and <a href="privacy-policy.html">Privacy Policy.</a></small>

            <button type="submit" class="submitter btn btn-success">Submit</button>
        </fieldset>
    </form>
    </div>
</div>